@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 transition-colors duration-300 font-sans antialiased;
  }
  body.dark {
    @apply bg-slate-950 text-slate-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-800 rounded-full hover:bg-brand-500 transition-colors duration-150;
}

/* Custom CSS helper animations */
@keyframes pulse-slow {
  0%, 100% { opacity: 1; }
  50% { opacity: .4; }
}

.animate-pulse-slow {
  animation: pulse-slow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
